  
header {
    border-bottom: 1px solid rgb(180, 179, 179);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
  }
    
  header > p {
    flex-basis: 350px;
  }
  
  .left-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
  }
  